.rodape__container {
    background-color: var(--branco);
    color: var(--cinza-texto);
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
    font-size: 1rem;
    height: 875px;
    line-height: 1.5;
    width: 100%;
}

.rodape__titulo {
    color: var(--azul-medio);
    font-weight: bold;
    padding: 10px 0 20px 0;
}

@media screen and (min-width: 834px) {
    body {
        height: 100vh;
    }

    .rodape__container {
        justify-content: space-between;
        height: 420px;
        padding-left: 74px;
    }
}

@media screen and (min-width: 1440px) {
    .rodape__container {
        padding-left: 240px;
        height: 225px;
    }
}